In [1]:
import pandas as pd

In [3]:
from Univariate import Univariate
Obj=Univariate

In [4]:
dataset=pd.read_csv("ODB-2014-Rankings.csv")
dataset

,Year,Region,Income,ISO2,ISO3,ODB-Rank,Country,ODB-Score,Readiness,Implementation,...,Impact_Economic-Scaled,HDI,G20,G7,GDP-Per-Capita-Current-USD,2013-Rank,2013-ODB-Scaled,ODB Change,Rank Change,Cluster
0,2014,Middle East & North Africa,High income,AE,ARE,52,UAE,-0.113555,-0.011659,-0.480576,...,0,0.827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,One sided initiative
1,2014,Latin America & Caribbean,Upper middle income,AR,ARG,36,Argentina,0.023207,-0.174486,0.187631,...,20,0.808,G20,NaN,14715.180020,31.0,35.00,0.71,-5.0,Emerging and advancing
2,2014,East Asia & Pacific,High income,AU,AUS,10,Australia,0.434557,1.185518,1.657688,...,40,0.933,G20,NaN,67468.068710,7.0,67.68,0.65,-3.0,High capacity
3,2014,Europe & Central Asia,High income,AT,AUT,15,Austria,0.310956,0.906397,0.421504,...,59,0.881,NaN,NaN,49053.822900,18.0,46.03,12.49,3.0,High capacity
4,2014,Europe & Central Asia,High income,BE,BEL,27,Belgium,0.169248,1.013088,-0.113062,...,61,0.881,NaN,NaN,45387.175530,31.0,34.80,12.49,4.0,High capacity
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,2014,East Asia & Pacific,Lower middle income,VN,VNM,57,Vietnam,-0.197238,-1.159286,-0.330230,...,7,0.638,NaN,NaN,1910.533073,NaN,NaN,NaN,NaN,Capacity constrained
82,2014,Middle East & North Africa,Lower middle income,YE,YEM,82,Yemen,-0.353913,-1.289778,-1.198900,...,6,0.500,NaN,NaN,1473.099564,73.0,4.69,1.11,-9.0,Capacity constrained
83,2014,Sub-Saharan Africa,Upper middle income,ZA,ZAF,41,South Africa,-0.039921,-0.171404,-0.062947,...,0,0.658,G20,NaN,6617.911609,52.0,19.20,11.50,11.0,Emerging and advancing
84,2014,Sub-Saharan Africa,Lower middle income,ZM,ZMB,78,Zambia,-0.329643,-1.045805,-1.132079,...,0,0.561,NaN,NaN,1539.601731,75.0,4.23,3.50,-3.0,Capacity constrained
85,2014,Sub-Saharan Africa,Low income,ZW,ZWE,76,Zimbabwe,-0.305403,-1.040686,-1.031848,...,0,0.492,NaN,NaN,904.755015,73.0,5.30,4.35,-3.0,Capacity constrained

In [5]:
quan,qual=Obj.quanQual(dataset)

Year
Region
Income
ISO2
ISO3
ODB-Rank
Country
ODB-Score
Readiness
Implementation
Impact
ODB-Scaled
Readiness-Scaled
Implementation-Scaled
Impact-Scaled
Readiness_Government
Readiness_Government-Scaled
Readiness_Citizens
Readiness_Citizens-Scaled
Readiness_Entrepreneurs
Readiness_Entrepreneurs-Scaled
Readiness-Rank
Datasets_Innovation
Datasets_Social_Policy
Datasets_Accountability
Datasets_Average
Datasets_Normalised
Implementation.1
Implementation-Scaled.1
Implementation-Rank
Impact_Political
Impact_Political-Scaled
Impact_Social
Impact_Social-Scaled
Impact_Economic
Impact_Economic-Scaled
HDI
G20
G7
GDP-Per-Capita-Current-USD
2013-Rank
2013-ODB-Scaled
ODB Change
Rank Change
Cluster

In [6]:
quan

['Year',
 'ODB-Rank',
 'ODB-Score',
 'Readiness',
 'Implementation',
 'Impact',
 'ODB-Scaled',
 'Readiness-Scaled',
 'Implementation-Scaled',
 'Impact-Scaled',
 'Readiness_Government',
 'Readiness_Government-Scaled',
 'Readiness_Citizens',
 'Readiness_Citizens-Scaled',
 'Readiness_Entrepreneurs',
 'Readiness_Entrepreneurs-Scaled',
 'Readiness-Rank',
 'Datasets_Innovation',
 'Datasets_Social_Policy',
 'Datasets_Accountability',
 'Datasets_Average',
 'Datasets_Normalised',
 'Implementation.1',
 'Implementation-Scaled.1',
 'Implementation-Rank',
 'Impact_Political',
 'Impact_Political-Scaled',
 'Impact_Social',
 'Impact_Social-Scaled',
 'Impact_Economic',
 'Impact_Economic-Scaled',
 'HDI',
 'GDP-Per-Capita-Current-USD',
 '2013-Rank',
 '2013-ODB-Scaled',
 'ODB Change',
 'Rank Change']

In [7]:
qual

['Region', 'Income', 'ISO2', 'ISO3', 'Country', 'G20', 'G7', 'Cluster']